@{
    ViewData["Title"] = "Testkundenregistrierung"; //Header

}

<!DOCTYPE html>
<html>
<body>
    <form method="post" action="">
        <p><input type="submit" name="login" value="Anmelden" class="btn btn-success" /></p><!--Login Button-->
    </form>

    <form method="post" action="">
        <p><input type="submit" name="register" value="Registrierung" class="btn btn-success" /></p><!--Register Button-->
    </form>
    </body>
</html>